html, body { height: 100%; margin: 0; padding: 0; }
/* #map { height: 100%; } */

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

img, embed, object, video {
  max-width: 100%;
}


.header {
  height: 5%;
}

.headerIcon {
  background-color: cyan;
  width: 100%;
  height: 50px;
}

.main {
  height: 90%;
}

.sidenav {
  height: 90%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 5px;
  left: 2px;
  bottom: 2px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 0.8;
  border-radius: 25px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 25px;
  font-size: 26px;
  margin-left: 50px;
}

.searchInput {
  padding-left: 5px;
  width: 99%;
}

.searchInput input {
  width: 85%;
  display: inline-block;
}

.searchInput button {
  position: absolute;
  display: inline-block;
  right: 3px;
}

.searchInput hr {
  width: 90%;
  align-content: center;
}

.hamburger {
  font-size:30px;
  cursor: pointer;
  background-color: transparent;
}

.footer {
  height: 5%;
  padding: 5px;
  display: block;
  width: 50px;
  margin-left: auto;
  margin-right: auto
}